/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/xwind-datasource/target/
/xwind-domain/target/
/xwind-infrastructure/target/
/xwind-lightshare/target/
/xwind-netty-server/target/
/xwind-wechat-web/target/
/xwind-backstage-web/target/
/xwind-backstage-security/target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/logs/

/xwind-netty-server/logs/
/xwind-wechat-web/logs/
/xwind-wechat-shop/src/test/
/xwind-wxcorp-oa/target/
/xwind-domain/src/main/resources/conf/generatorConfig.xml
/classes/
/xwind-domain/src/main/resources/conf/
/.idea/
/xwind-open-api/logs/
xwind-open-api/src/main/resources/static/
xwind-open-api/src/main/resources/templates/
xwind-open-api/target/
